<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040744264473-22jaja6o5oupm1j3m8lfi0i3n4iqv4g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040744264473-22jaja6o5oupm1j3m8lfi0i3n4iqv4g2</string>
	<key>API_KEY</key>
	<string>AIzaSyDgsaToOILflR_XvBdOEm_XO6TNEqXwDBs</string>
	<key>GCM_SENDER_ID</key>
	<string>1040744264473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.com.intercorp.test.agm.LoginTest</string>
	<key>PROJECT_ID</key>
	<string>academia-moviles2</string>
	<key>STORAGE_BUCKET</key>
	<string>academia-moviles2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040744264473:ios:00bc7ffde498008e</string>
	<key>DATABASE_URL</key>
	<string>https://academia-moviles2.firebaseio.com</string>
</dict>
</plist>